#pagina_teste{
    background-color: black;
}
#teste_do_id{
    color: blueviolet;
}
body{
    background-color: black;
    color: cornsilk;
}
h1{
    color: greenyellow;
}
.azul{
    color: blue;
}
.laranja{
    color: coral;
}